{% extends "base.html" %}

{% block content %}
<div class="mb-4 alert alert-secondary d-none" id="download">
    You have selected <span id="recipe_count"></span> recipe(s) on <span id="instance_count"></span> instance(s):
    <form action="/download" method="post">
        {{ form_download.hidden_tag() }}
        {{ form_download.instance_list(class_="d-none") }}
        {{ form_download.recipe_list(class_="d-none") }}
        {{ form_download.submit(class_="btn btn-link") }}
    </form>
</div>
<div class="row main-row">
    <div class="col-5">
        <div class="card flex-md-row mb-4 shadow-sm">
            <div class="card-body">
                <h3 class="mb-0 text-dark">Instances</h3>
                <div class="mb-2 text-muted" id="instance_status"></div>
                <ul class="list-group list-group-flush" id="instances"></ul>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="card flex-md-row mb-4 shadow-sm">
            <div class="card-body">
                <h3 class="mb-0 text-dark">Recipes</h3>
                <div class="mb-1 text-muted" id="recipe_status"></div>
                <ul class="list-group list-group-flush" id="recipes"></ul>
                <div class="mt-2">
                    <div class="float-right">
                        <button data-toggle="modal" data-target="#modal_import"
                                class="btn btn-sm btn-outline-secondary mr-2">Import recipe from .sbj file</button>
                        <a href="{{ url_for('main.recipe') }}"
                           class="btn btn-sm btn-outline-secondary">Create new recipe</a>
                    </div>
                    <div class="dropdown d-none">
                        <a class="btn btn-sm btn-outline-secondary dropdown-toggle" id="recipe_action" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Multiple edit</a>
                        <div class="dropdown-menu" aria-labelledby="recipe_action">
                            <a href="#" class="dropdown-item">Activate all checked recipes</a>
                            <a href="#" class="dropdown-item deactivate">Deactivate all checked recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_import">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Import recipe from .sbj file
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('main.recipe_import') }}" method="post" class="form" role="form"
                      enctype="multipart/form-data">
                    <p class="alert alert-info">
                        Use this uploader to specify a .sbj file to be imported. Such .sbj files represent a recipe with its steps and values but without any runtime information. That is, it does not include any instances, runs, data, or logs. To export your own recipes, visit a recipe's page and click the "export" button. If you provide this exported recipe along with your research, this should help increase both transparency and replicability.
                    </p>
                    <div class="form-group">
                        <label class="form-control-label" for="sbj_file">Select the .sbj file from your computer</label>
                        <input class="form-control" name="sbj_file" id="sbj_file" accept=".sbj" type="file" />
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-primary" value="Import now" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
