{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="mb-5">
    <h2>Number of runs per recipe on {{ instance.name }}</h2>
    {% if instance.runs|length > 0 %}
        <canvas class="chart_instance" data-instance="{{ instance.uid }}" width="400" height="200"></canvas>
    {% else %}
        <p class="text-muted">No recipe has ever run on this instance so far.</p>
    {% endif %}
</div>
<div class="row mb-5">
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-body">
                {% if instance.recipes|length > 0 %}
                    This instance should repeatedly run {{ instance.recipes|length }} recipe(s).
                    {% if instance.recipes|length > recipes|length %}
                        Importantly, you can only see {{ recipes|length }} of these recipes,
                        as you do not have access to the others.
                    {% endif %}
                {% else %}
                    This instance is currently not running any recipes.
                    {% if recipes|length > 0 %}
                        You can add recipes to it by using "more settings" on the bottom of this page.
                    {% else %}
                        Unfortunately you do have permissions to add any recipes to this instance.
                    {% endif %}
                {% endif %}
                {% if instance.runs|length > 0 %}
                    In total, it has run all its recipes a total amount of {{ instance.runs|length }} times.
                {% else %}
                    It has never been run anything so far.
                {% endif %}
                The owner of this instance
                {% if instance.owner == current_user %}
                    are you.
                {% else %}
                    is {{ instance.owner.name }}.
                {% endif %}
            </div>
        </div>
        {% if instance.owner == current_user %}
            <div class="card mt-4 shadow-sm">
                <div class="card-body row">
                    <div class="col-6">
                        <h5>User privileges</h5>
                        <form action="" method="post" class="form" role="form">
                            {{ form_privilege.hidden_tag() }}
                            {{ wtf.form_field(form_privilege.email) }}
                            {{ wtf.form_field(form_privilege.allowed_to_edit) }}
                            <div class="text-right mt-3">
                                {{ wtf.form_field(form_privilege.submit) }}
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        {% if privileged_users|length == 0 %}
                            <p class="text-muted">
                                <em>Currently, no other users are privileged for this instance.</em>
                            </p>
                        {% else %}
                            <ul class="list-group list-group-flush">
                                {% for privilege in privileged_users %}
                                    <li class="list-group-item
                                        {% if privilege.allowed_to_edit %}list-group-item-info{% endif %}"
                                        {% if privilege.allowed_to_edit %}title="allowed to edit"{% endif %}>

                                        <a href="{{ url_for('main.instance_remove_privilege',
                                                            instance_uid=instance.uid,
                                                            privilege_uid=privilege.uid) }}"
                                           class="float-right" title="remove this privilege">
                                            <svg viewBox="0 0 32 32" width="24" height="24" fill="none"
                                                 stroke="currentcolor" stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2">
                                                <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12
                                                         L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6"></path>
                                            </svg>
                                        </a>
                                        {{ privilege.user.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-6">
        {% if instance.runs|length > 0 %}
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5>The latest runs</h5>
                </div>
                <ul class="list-group list-group-flush runs" data-instance="{{ instance.uid }}"></ul>
            </div>
        {% endif %}
    </div>
</div>
<a data-toggle="collapse"
   href="#settings"
   aria-expanded="false"
   aria-controls="settings"
   class="border-top py-2 d-block text-center">More settings</a>
<div class="collapse mt-3" id="settings">
    <form action="" method="post" class="form mb-4" role="form">
        <div class="row">
            <div class="col-5">
                <h5>General instance info</h5>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.name, disabled=True) }}
                {{ wtf.form_field(form.description) }}
            </div>
            <div class="col-6 offset-1">
                <h5>Recipes to run on this instance</h5>
                <ul class="list-group list-group-flush">
                    {% if recipes|length > 0 %}
                        {% for recipe in recipes %}
                            <li class="list-group-item form-check">
                                <label class="form-check-label d-block">
                                    {% if recipe.active %}
                                        <input class="form-check-input" name="recipe_{{ recipe.uid }}"
                                               type="checkbox" value="y" checked>
                                    {% else %}
                                        <input class="form-check-input" name="recipe_{{ recipe.uid }}"
                                               type="checkbox" value="y">
                                    {% endif %}
                                    {% if recipe.recipe_active %}
                                        {{ recipe.name }} (runs every {{ recipe.interval }} minute(s))
                                    {% else %}
                                        {{ recipe.name }} (currently inactive)
                                    {% endif %}
                                </label>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item disabled">No recipes available</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="text-right">
            {{ wtf.form_field(form.submit) }}
        </div>
    </form>
</div>
{% endblock %}